<!DOCTYPE html>
<html>
<head>
    <title>Your Music Visualised</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

    <nav class="navbar navbar-dark bg-black px-4 mb-4">
        <a class="navbar-brand fw-bold" href="/">🎵 Your Music Visualised</a>
        <div>
        <a class="text-white text-decoration-none me-3" href="/">Top Tracks</a>
        <a class="text-white text-decoration-none" href="/artists">Top Artists</a>
        </div>
    </nav>


    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>