{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">🎵 My Top Tracks</h1>
    <ul class="list-group">
        {% for song in songs %}
            <li class="list-group-item bg-secondary text-white">
                {{ loop.index }}. {{ song[1] }} by {{ song[2] }} | {{ song[3] }} | {{ song[4] }}
                <a class= "ms-2 link-light" href ="https://open.spotify.com/track/{{ song[0] }}" target="_blank" rel="noopener">
                    Play 
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
